<!-- Copyright (c) Microsoft Corporation.
     Licensed under the MIT license. -->

<!-- <IndexSnippet> -->
@page "/"

<div class="jumbotron">
    <h1>Blazor Client-side Graph Tutorial</h1>
    <p class="lead">This sample app shows how to use the Microsoft Graph API to access a user's data from a Blazor client-side app</p>
    <AuthorizeView>
        <Authorized>
            <h4>Welcome @context.User.Identity.Name!</h4>
            <p>Use the navigation bar on the left to get started.</p>
        </Authorized>
        <NotAuthorized>
            <a class="btn btn-primary btn-large" href="authentication/login">Click here to sign in</a>
        </NotAuthorized>
    </AuthorizeView>
</div>
<!-- </IndexSnippet> -->
