<!-- Copyright (c) Microsoft Corporation.
     Licensed under the MIT license. -->

@page "/newevent"
@using System.Security.Authentication
@using Microsoft.Graph
@using Microsoft.Graph.Models

@inject GraphSample.Graph.GraphClientFactory clientFactory

<AuthorizeView>
    <Authorized>
        @if (!string.IsNullOrEmpty(status))
        {
            <div class="alert @(isError ? "alert-danger" : "alert-success")">@status</div>
        }
        <form>
            <div class="mb-3">
                <label for="subject">Subject</label>
                <input @bind="subject" id="subject" class="form-control" />
            </div>
            <div class="mb-3">
                <label for="attendees">Attendees</label>
                <input @bind="attendees" id="attendees" class="form-control" />
            </div>
            <div class="row">
                <div class="col">
                    <div class="mb-3">
                        <label for="start">Start</label>
                        <input @bind="start" type="datetime-local" id="date" class="form-control" />
                    </div>
                </div>
                <div class="col">
                    <div class="mb-3">
                        <label for="end">End</label>
                        <input @bind="end" type="datetime-local" id="end" class="form-control" />
                    </div>
                </div>
            </div>
            <div class="mb-3">
                <label for="body">Body</label>
                <textarea @bind="body" id="body" class="form-control"></textarea>
            </div>
        </form>
        <button class="btn btn-primary me-2" @onclick="CreateEvent">Create</button>
        <a href="/calendar" class="btn btn-secondrary">Cancel</a>
    </Authorized>
    <NotAuthorized>
        <RedirectToLogin />
    </NotAuthorized>
</AuthorizeView>

@code{
    [CascadingParameter]
    private Task<AuthenticationState>? authenticationStateTask { get; set; }

    private string status = string.Empty;
    private bool isError;
    private string userTimeZone = string.Empty;
    private string subject = string.Empty;
    private string attendees = string.Empty;
    private DateTime start = new DateTime(DateTime.Today.Ticks);
    private DateTime end = new DateTime(DateTime.Today.Ticks);
    private string body = string.Empty;

    protected override async Task OnInitializedAsync()
    {
        if (authenticationStateTask == null)
        {
            throw new AuthenticationException(
                "Unable to access authentication state");
        }

        // Get the user's time zone
        var user = (await authenticationStateTask).User;
        userTimeZone = user.GetUserGraphTimeZone() ?? "UTC";
    }

    private async Task CreateEvent()
    {
        // Initalize an Event object
        // with user input
        var newEvent = new Event
        {
            Subject = subject,
            Start = new DateTimeTimeZone
            {
                DateTime = start.ToString("o"),
                TimeZone = userTimeZone
            },
            End = new DateTimeTimeZone
            {
                DateTime = end.ToString("o"),
                TimeZone = userTimeZone
            },
            Body = new ItemBody
            {
                Content = body,
                ContentType = BodyType.Text
            }
        };

        // If the user provided attendees (semicolon-delimited
        // list of email addresses) add them
        if (!string.IsNullOrEmpty(attendees))
        {
            var attendeeList = new List<Attendee>();

            var attendeeArray = attendees.Split(";");
            foreach (var email in attendeeArray)
            {
                Console.WriteLine($"Adding {email}");
                attendeeList.Add(new Attendee
                {
                    // Set to required attendee
                    Type = AttendeeType.Required,
                    EmailAddress = new EmailAddress
                    {
                        Address = email
                    }
                });
            }

            newEvent.Attendees = attendeeList;
        }

        var graphClient = clientFactory.GetAuthenticatedClient();

        try
        {
            // POST /me/events
            await graphClient.Me
                .Events
                .PostAsync(newEvent);

            isError = false;
            status = "Event created";
        }
        catch (ServiceException exception)
        {
            isError = true;
            status = exception.Message;
        }
    }
}
